.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after, .header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 400;
  }
  .header-menu a:hover{
    background: var(--cor-10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/*Mobile*/
#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  .js #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: var(--cor-11);
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .js #nav.active #menu {
    visibility: visible;
    overflow-y: auto;
    height: calc(100vh - 70px);
  }
  .js #menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 40px;
    margin: 0 16px;
    border-bottom: 2px solid var(--cor-12);
    font: 400 1.4rem/1.5 "Roboto", sans-serif;
    background: var(--cor-11);
  }
  .js #menu a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 6px;
    background: url(../../img/icones/seta-menu-mobile.svg) no-repeat;
    position: relative;
    rotate: 268deg;
  }
  .js #menu a::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 22px;
    position: absolute;
    left: 0;
  }
  .js #menu li:nth-child(1) a::before {
    background: url(../../img/icones/bike-mobile.svg) no-repeat;
  }
  .js #menu li:nth-child(2) a::before {
    background: url(../../img/icones/seguro-mobile.svg) no-repeat;
  }
  .js #menu li:nth-child(3) a::before {
    background: url(../../img/icones/contato-mobile.svg) no-repeat;
  }
  .js #menu a:hover {
    background: none;
  }

  .js #btn-mobile {
    display: flex;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    border: none;
  }
  .js #hamburguer {
    border-top: 3px solid;
    color: var(--cor-0);
    width: 34px;
    background: transparent;
  }
  .js #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 34px;
    height: 3px;
    background-color: currentColor;
    margin-top: 6px;
    transition: .3s;
    position: relative;
  }
  .js #nav.active #hamburguer {
    border-top-color: transparent;
  }
  .js #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  .js #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -9px;
  }
}